.shop-item-title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color:rgb(20, 182, 247);
  margin-bottom: 15px;
}

.shop-item-image {
  height: 400px;
  border-radius: 10%;
}


.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 60%;
}

h1{
  text-align: center;
}


/*Button 1*/

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 42%;
  top: 80%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  
  
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 2px solid lightgreen;
  outline: none;
  transition: 2s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 2s ease-in-out;
}

.btn:hover {
  transition: 2s ease-in-out;
  background: lightskyblue;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}

/*Button 2*/

.btn2{
  margin-top: 1%;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 10px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
}
.btn-flip:hover:after {
  opacity: 2;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 170%;
  color: #323237;
  display: center;
  transition: 0.5s;
  position: absolute;
  background: #adadaf;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #323237;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}


/*Button 3 */
.shop-item-title-2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color:mediumslateblue;
  margin-bottom: 15px;
}

.shop-item-image-2 {
  height: 400px;
}

.btn-3 {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 2px solid #f71fd3;
  outline: none;
  transition: 2s ease-in-out;
}

.btn-3 span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}