@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 2px solid #f71fd3;
  outline: none;
  transition: 2s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 2s ease-in-out;
}

.btn:hover {
  transition: 2s ease-in-out;
  background: #ee76da;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}
