/* SearchBox */
/* Group 87    */

/* Make search input full length: 100% */
.search-box {
    width: 30%;
    margin-left: 2%;
  }
  
  /* Search Opinions: */
  
  /* Subhead */
  .search-title {
    /* identical to box height */
  
    letter-spacing: 0.004em;
  
    color: #000000;
  }
  
  /* Search */
  .search-input {
    height: 2.8em;
  
    width: 70%;
  
    /* True Black */
  
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .search-box-i {
    position: relative;
  
    top: -0.5em;
    left: 4.5em;
  
    color: #000000;
    cursor: pointer;
    width: 0;
  }
  
  .save-search-btn {
    margin-left: 1.95em;
  }
  
  .save-search {
    justify-content: space-around;
    padding: 0.5em;
  
    /* Link */
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  
    text-decoration-line: underline;
  
    /* Dark Gray */
  
    color: #676767;
  
    /* Inside Auto Layout */
  
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 5px 0px;
  }
  